RewriteEngine On
RewriteBase /mag

# add www at the beginning
RewriteCond %{HTTP_HOST} ^artsocket.com
RewriteCond %{REQUEST_URI} !\.(jpe?g|png|svg|js|css)$
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/mag/$1 [R=301,L]


# http -> https
RewriteCond %{HTTP_HOST} www.artsocket.com/mag
RewriteCond %{REQUEST_URI} !\.(jpe?g|png|svg|js|css)$
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/mag/$1 [R=301,L]


#RSS
RewriteRule ^rss$ index.php?ajax_request=1&rss=1 [NC,L] 
RewriteRule ^rss/$ index.php?ajax_request=1&rss=1 [NC,L] 

# URL changes
RewriteRule ^unique-unknown-places-submit-your-art-photography/$ indie-online-art-galleries-that-accept-submissions/ [R=301,L]

RewriteRule ^travel-across-the-western-creative-mecca/$ liao-ning-to-california-and-back/ [R=301,L]
RewriteRule ^hollywood-a-trip-across-california/$ liao-ning-to-california-and-back/ [R=301,L]

RewriteRule ^get-inspired-to-be-different-christmas-in-japan/$ christmas-in-japan/ [R=301,L]

RewriteRule ^travel-beijing-china-art-zone-798/$ art-zone-798/ [R=301,L]

RewriteRule ^moving-pictures-animation-introduction/$ the-magic-of-animation/ [R=301,L]

